<form action='/search' method='post'>
<input type='text' name='text'>
<input type='submit' value= 'search' required>
</form>
<form action ='/add' method ='post'>
<input type='text' name='text'>
<input type='submit' value= 'add' required>
</form>
